/* Base styles */

*	{
	box-sizing: border-box;
	font-family: Helvetica;
}

h1	{
	font-size: 50px;
	margin-bottom: 40px;
	text-align: center;
}

#margindiv {
	height: 180px;
	border: 1px solid black;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px; 
	background-color: grey;"
	padding: 10px;
}
#title1	{
	font-size: 20px;
	border: 1px solid black;
	width: 85px;
	background-color: green;
	float: right;
	text-align: center;
	padding: 5px;
}

#title2	{
	font-size: 20px;
	border: 1px solid black;
	width: 85px;
	background-color: yellow;
	float: right;
	text-align: center;
	padding: 5px;
}

#title3	{
	font-size: 20px;
	border: 1px solid black;
	width: 85px;
	background-color: red;
	float: right;
	text-align: center;
	padding: 5px;
}

#div1, #div2, #div3	{
	clear: right;
	padding: 10px;
}

.row	{
	width: 100%;
}
/* Desktop version - 992px or above */

@media (min-width: 992px)	{
			.col-lg-4	{
				float: left;
				width: 33.33%;
			}
		}

/* Tablet version - between 768px and 991px */

@media (min-width: 768px) and (max-width: 991px)	{
			.col-md-6	{
				float: left;
				width: 50%;
			}
			.col-md-12	{
				float: left;
				width: 100%;
			}
		}

/* Mobile version - 767px or less */

@media (max-width: 767px)	{
			.col-sm-12	{
				float: left;
				width: 100%;
			}
		}